
body {
     background-color: gold;
}

h1 {
    color: red;
    font size: 150%;
    text-align: center;
    Text-decoration: underline;
}

h2 {
    color: red;
    font size: 150%;
    text-align: center;
    Text-decoration: underline;
}